@media screen and (max-width: 576px) {
    /* header styles */
    .navbar-container{
        width: 90%;
    }
    .navbar-content{
        display: none;
    }

    .navbar-container>i{
        display: block;
    }

    .banner-content{
        flex-direction: column;
        width: 90%;
    }

    .image-content{
        margin-left: 50px;
        margin-top: 48px;
    }

    .three-fifty{
        width: 170px;
        height: 80px;
        top: 45%;
        right: 60%;
    }

    .five-hundred{
        width: 170px;
        height: 90px;
        top: 10%;
        left: 55%;
    }


    /* change your habits section styles */
    .habits-container{
        width: 90%;
        margin-top: 0;
    }

    .habits-image-container{
        grid-template-columns: repeat(1, 1fr);
    }
    

    /* Run an Extra Mile Easily section styles */
    .run-container{
        width: 90%;
        flex-direction: column;
        gap: 31px;
        padding: 40px;
    }

    .run-text-content{
        display: flex;
        flex-direction: column;
    }

    .run-container img{
        width: 95%;
        height: 260px;
        object-fit: cover;
    }

}