@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');       

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* shared styles */
:root{
    --primary-color: white;
    --secondary-color: rgba(255, 255, 255, 0.4);
    --optional-color: rgb(230, 83, 60);
}

body{
    background: black;
    font-family: "Inter", sans-serif;
    color: var(--primary-color);
}

.btn-primary{
    color: var(--primary-color);
    font-size: 1.125rem;
    font-weight: 600;
    background: var(--optional-color); 
    border-radius: 42px;
    padding: 16px 40px;
    border: none;
    cursor: pointer;
}

/* header styles */
.banner-container{
    width: 100%;
    background-image:linear-gradient(180.00deg, rgba(17, 17, 17, 0.174), rgba(20, 20, 20), rgb(20, 20, 20), rgb(20, 20, 20), transparent);
}

.navbar-container{
    width: 80%;
    margin: 0 auto ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 57px;
}

.logo{
    color: var(--optional-color);
    font-size: 2.25rem;
    font-weight: 800;
    font-style: italic;
}

.navbar-content{
    border: 1px solid rgba(255, 255, 255, 0.156) ;
    border-radius: 39px;
}

.navbar-content ul{
    display: flex;
    gap: 47px;
    margin: 12px 24px 12px 4px;
}

.navbar-content li{
    list-style: none;
}

.navbar-content a{
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.125rem;
    font-weight: 400;
}

.navbar-content a.home{
    background: var(--optional-color); 
    border-radius: 20px;
    font-weight: 600;
    padding: 8px 20px;
}

.navbar-container>i{
    color: var(--primary-color);
    display: none;
}

.banner-content{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.banner-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-text h1{
    font-size: 4.875rem;
    font-weight: 900;
    line-height: 1.2;
}

.shape{
    font-style: italic;
    font-family: 'Miama', sans-serif;
    font-weight: 400;
}

.banner-text p{
    color: var(--secondary-color);
    font-size: 1rem;
    font-weight: 400;
    margin-top: 28px;
    line-height: 1.5;
}

.buttons{
    margin-top: 28px;
}

.btn-secondary{
    color: var(--primary-color);
    font-size: 1.125rem;
    font-weight: 600;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 42px;
    padding: 16px 40px;
    margin-left: 14px;
    cursor: pointer;
}

.image-content{
    margin-right: 24px;
    position: relative;
}

.three-fifty{
    width: 206px;
    height: 96px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    position: absolute;
    top: 72%;
    right: 71%;
}

.circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--optional-color);
}

.circle i{
    display: none;
}

.three-fifty h4{
    font-size: 1.5rem;
    font-weight: 900;
}

.three-fifty p{
    color: rgba(239, 237, 232, 0.65);
    font-size: 1rem;
    font-weight: 400;
    margin-top: 8px;
}

.five-hundred{
    width: 193px;
    height: 98px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 22%;
    left: 65%;
}

.five-hundred h4{
    font-size: 2.5rem;
    font-weight: 900;
}

.five-hundred p{
    color: rgba(255, 255, 255, 0.65);
    font-size: 0.8125rem;
    font-weight: 400;
    margin-top: 5px;
}


/* change your habits section styles */
.habits-container{
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
}

.habits-text-content h2{
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
}

.habits-text-content p{
    color: var(--secondary-color);
    font-size: 0.875rem;
    font-weight: 400;
    margin-top: 14px;
    text-align: center;
    line-height: 1.6;
}

.habits-image-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin-top: 58px;
}

.habits-image-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.habits-image-content img{
    border: 7px solid rgb(26, 26, 26);
    border-radius: 50%;
}

.habits-image-content h4{
    font-size: 1.125rem;
    font-weight: 600; 
    margin-top: 30px;
}

.habits-image-content p{
    color: var(--secondary-color);
    font-size: 0.875rem;
    font-weight: 400;
    text-align: center;
    margin-top: 6px;
}


/* run an extra mile easily section styles */
.run-container{
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 150px;
    padding: 30px 32px 29px 54px;
}

.run-text-content h2{
    font-size: 3rem;
    font-weight: 900;
}

.run-text-content p{
    color: var(--secondary-color);
    font-size: 0.875rem;
    font-weight: 400;
    margin-top: 14px;
    margin-bottom: 34px;
    line-height: 1.5;
}

.run-container img{
    width: 400px;
    height: 330px;
    object-fit: none;
    object-position: 67% 34%;
    border-radius: 18px;
}


/* bmi calculator section styles */
.bmi-container{
    width: 100%;
}

.bmi-text-content{
    width: 80%;
    margin: 0 auto;
    margin-top: 88px;
    text-align: center;
}

.bmi-text-content h2{
    font-size: 3rem;
    font-weight: 900;
}

.bmi-text-content p{
    color: var(--secondary-color);
    font-size: 0.875rem;
    font-weight: 400;
    margin-top: 14px;
    line-height: 1.5;
}

.bmi-calculator-container{
    margin-top: 88px;
    background-color: rgb(34, 34, 34);
    padding: 50px 0;
}

.bmi-calculator-content{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bmi-calculator-content h4{
    font-size: 1.75rem;
    font-weight: 900;
}

.bmi-calculator-content p{
    color: var(--secondary-color);
    font-size: 0.875rem;
    font-weight: 400;
    margin-top: 14px;
    line-height: 1.5;
}

.bmi-chart-content table{
    border-collapse: collapse;
    margin-top: 52px;
}

.bmi-chart-content th{
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 500;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 13px 27px 13px 20px;
    text-align: left;
}

.bmi-chart-content td{
    color: var(--secondary-color);
    font-size: 0.875rem;
    font-weight: 400;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 13px 27px 13px 20px;
}

.calculator-content{
    width: 577px;
}

.calculator-content form{
    margin: 34px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;  
}

.calculator-content form>#activity{
    grid-column: 1 /span 2;
}

.calculator-content form>input, .calculator-content form>select{
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--secondary-color);
    font-size: 1rem;
    font-weight: 400;
    border-radius: 8px;
    padding: 12px 20px;
    border: none;
}

.calculator-content form>input::placeholder{
    color: var(--secondary-color);
}


/* meet our team section styles */
.team-container{
    width: 80%;
    margin: 0 auto;
    margin-top: 88px;
}

.team-text-content h2{
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
}

.team-text-content p{
    color: var(--secondary-color);
    font-size: 0.875rem;
    font-weight: 400;
    margin-top: 14px;
    text-align: center;
    line-height: 1.5;
}

.team-image-container{
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 58px;
    padding: 20px;
}

.team-image-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.team-image{
    position: relative;
}

.team-image img{
    width: 100%;
    height: 272px;
    border-radius: 18px;
    object-fit: cover;
    opacity: 0.7;
}

.team-image-text{
    position: absolute;
    bottom: 16px;
    left: 16px;
}

.team-image-text h5{
    font-size: 1.125rem;
    font-weight: 800;
}

.team-image-text p{
    color: rgba(255, 255, 255, 0.55);
    font-size: 0.875rem;
    font-weight: 500;
    margin-top: 5px;
}


/* footer styles */
.footer-container{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 88px;
    padding: 66px 0 35px 0;
}

.footer-content{
    width: 80%;
    margin: 0 auto;
}

.footer-content hr{
    border: 2px solid rgba(255, 255, 255, 0.1);
    margin-top: 79px;
}

.footer-content p{
    color: var(--secondary-color);
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
    margin-top: 36px;
    line-height: 1.6;
}

.footer-text-container{
    display: flex;
    justify-content: space-between;
}

.footer-text-1{
    width: 443px;
}

.footer-logo{
    font-size: 4.375rem;
}

.footer-text-1 p{
    color: var(--secondary-color);
    font-size: 0.875rem;
    font-weight: 400;
    text-align: left;
    margin-top: 20px;
}

.footer-text-2>h5, .footer-text-3>h5{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 39px;
}

.footer-text-2>ul, .footer-text-3>ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-text-2 li, .footer-text-3 li{
    list-style: none;
}

.footer-text-2 a, .footer-text-3 a{
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1.4375rem;
    font-weight: 400;
}

